src/main/resources/ext/Spring-User.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.zhangkai.com/schema/user"
        xmlns:tns="http://www.zhangkai.com/schema/user"
        elementFormDefault="qualified">
<element name="user">
  <complexType>
    <attribute name="id" type="string"></attribute>
    <attribute name="userName" type="string"></attribute>
    <attribute name="nickname" type="string"></attribute>
    <attribute name="password" type="string"></attribute>
  </complexType>
</element>
</schema>
